.App {
  text-align: center;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.todo-wrapper {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  background: #ffd9d9;
}

.todo-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

.todo-item span.completed {
  text-decoration: line-through;
}

.todo-list {
  text-align: left;
}