.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  margin: 15px 15px 5px 15px;
}

.movie-list {
  display: flex;
  gap: 10px;
  margin: 15px;
  flex-wrap: wrap;
}

.movie-card {
  width: 200px;
  /* height: 300px; */
  border: 1px solid #ccc;
  padding: 10px;
}

.movie-card img {
  max-width: 100%;
}

.add-movie-form {
  padding: 50px;
}

.add-movie-form div {
  margin-bottom: 10px;
}

.favourite-wrapper {
  display: flex;
}

.favourite-wrapper  .left-section {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}

.favourite-wrapper  .right-section {
  flex-grow: 1;
}

.favourite-wrapper  .right-section table {
  border-collapse: collapse;
}

.favourite-wrapper  .right-section table th, .favourite-wrapper  .right-section table td{
  border: 1px solid #ccc;
  padding: 10px;
}

.genre-wrapper {
  display: flex;
  width: 200px;
  flex-direction: column;
  padding: 15px;
}

.genre-wrapper .genre {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #ccc;
  padding: 5px 15px;
  margin: 1px;
  cursor: pointer;
}

.genre-wrapper .genre.selected {
  background-color: blue;
  color: white;
}

